.dashboard-container {
  height: 100dvh;
  background-image: url("bg-home.png");
  background-size: cover;
  background-position: center;
}


.top-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 70vh;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

// @keyframes rotating {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
// .rotating {
//   animation: rotating 2s linear infinite;
// }

.btn-patate {
  padding: 35px 30px;
  text-decoration: none;
  color: $light;
  display: block;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  text-align: center;
  &:hover {
    color: $light;
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("btn.png");
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:last-child::before {
    transform: rotate(180deg);
  }
}
