.se-connecter-form {
  color: white;
  font-size: 18px;
}

.se-connecter-titre {
  font-weight: bold;
  text-align: center;
  font-size: 35px;
}

.form-actions {
  color: #F28E19;
  text-decoration: non;
  background-color: white;
  border-radius: 30px;
  text-align: center;
  width: 40%;
}

#se-connecter-bouton {
  color: #F28E19;

}

.link-se-connecter {
  color: white;
  text-decoration: none;
}
