// Specific CSS for your home-page


body {
  // background-color: #F28E19;
  // min-height: 100vh;
  // flex-direction: column;
  // justify-content: space-evenly;
  // margin: 0;
}

.titre {
  // height: 40%;
  position: absolute;
  top: 20px;
}

#titre-hp {
  color: white;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  line-height: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Darumadrop One', sans-serif;

}

.logo {
  // text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  text-align: center;
  margin-top: 0;
}

.image-logo {
  width: 150px;
  justify-content: center;
}

.btnlog {
  text-decoration: none;
  background-color: white;
  font-weight: bold;
  color: #F28E19;
  padding: 20px;
  border-top-right-radius: 40px;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 90px;
  width: 90px;
  width: 150px; /* Ajustez la largeur souhaitée */
  display: inline-block; /* Pour permettre le réglage de la largeur */
  text-align: center; /* Pour centrer le texte horizontalement */
  box-sizing: border-box; /* Inclure le padding dans la largeur totale */
  margin: 0 5px;
}

.btn-log-out {
  text-decoration: none;
  font-family: Manrope;
  color: white;
  font-size: 20px;
  // position: absolute;
  bottom: 20px;
  // left: 50%;
  //transform: translateX(-50%);
  // padding-bottom: 20px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;

}

.btnmilieu {
  margin-bottom: 10px;
}

.fixed-bottom {
  margin-bottom: 30px;
}

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.session {
  height: 100%;
}
