// Import page-specific CSS files here.
@import "home";

.title-frigo {
  color: #000;
  font-family: "Darumadrop One";
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  align-items: start;
  padding-left: 5px;
  display: flex;
}

.titre-carrotte-frigo {
  display: flex;

}

.header-titre-subtitre {
  width: 100%;
  padding: 0 20px;

}



.petite-carrote{
  width: 54px;
  transform: rotate(90deg);
  height: 54px;
}



.button-create-recipe{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_btn {
  text-decoration: none;
  background-color: #F28E19;
  color: #ffffff;
  padding: 10px;
  border-top-right-radius: 40px;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 90px;
  width: 280px; /* Ajustez la largeur souhaitée */
  display: inline-block; /* Pour permettre le réglage de la largeur */
  text-align: center; /* Pour centrer le texte horizontalement */
  box-sizing: border-box; /* Inclure le padding dans la largeur totale */
  margin: 0 5px;
  height: 75px;
  border: none;
  font-size: 20px;
  font-weight: bold;
}

.button-create-recipe2 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}




.bg-content {
  height: 200dvh;
  background-image: url("bg-pastel.png");
  background-size: cover;
  background-position: center;
  z-index: -100;
  border: none;
}


.modal-body {
  border: none;
}

.modal-title {
  font-family: 'Darumadrop One', sans-serif;
  font-size: 40px;
}

.modal-title h1 {
  color: #000;
  font-family: Manrope;
  font-size: 25px;
  font-style: bold;
  font-weight: 900;

}


.filter-content {
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  border: none;

}

.qty_button {

  display: flex;
  justify-content: space-around;

  // margin-top: -5px;
}

.title_button {
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  font-family: Manrope;
  border-radius: 25px;
  border: none;
  margin-bottom: 10px;
}

.instruction {
  width: 342px;
  font-size: 25px;
}

.boutons-rajouter-generer {
  display: flex;
  justify-content: space-between;

}

.boutons-frigo1 {

  // border-radius: 30px;
  // background-color: #F28E19;
  // border: none;
  // color: white;
  // font-family: Manrope;
  // font-size: 20px;
  // font-style: normal;
  // font-weight: 800;
  // align-items: center;
  // text-decoration: none;
  // text-align: center;
  // width: 50%;

  flex-shrink: 0;
  background-color: #F28E19;
  font-family: Manrope;
  margin-top: 20px;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-top-right-radius: 40px;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 90px;
  // width: 280px; /* Ajustez la largeur souhaitée */
  display: inline-block; /* Pour permettre le réglage de la largeur */
  text-align: center; /* Pour centrer le texte horizontalement */
  box-sizing: border-box; /* Inclure le padding dans la largeur totale */
  margin: 0 5px;
  height: 75px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  width: 50%;




}

.button-create-recipe {
  // text-decoration: none;
  // color: white;
  // border-radius: 30px;
  // background-color: #F28E19;
  // border: none;
  // font-family: Manrope;
  // font-size: 20px;
  // font-style: normal;
  // font-weight: 800;
  // align-items: center;
  // text-align: center;
  // width: 50%;

  flex-shrink: 0;
  background-color: #F28E19;
  font-family: Manrope;
  margin-top: 20px;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-top-right-radius: 40px;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 90px;
  // width: 280px; /* Ajustez la largeur souhaitée */
  display: inline-block; /* Pour permettre le réglage de la largeur */
  text-align: center; /* Pour centrer le texte horizontalement */
  box-sizing: border-box; /* Inclure le padding dans la largeur totale */
  margin: 0 5px;
  height: 75px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  width: 50%;
}

#boutons-frigo2 {
  text-decoration: none;
  color: white;
}

.fa-heart {
  color: #F28E19;
  text-decoration: none;
  font-size: 22px;
  justify-content: space-between;
  text-decoration: none;
}


.search-bar-group {
  width: 366px;
  display: flex;
  justify-content: center;
}

.form {
font-family: Manrope;
text-decoration: none;
color: black;
}

#query {
  border: 4px solid rgba(251, 221, 186, 0.95);
  border-radius: 8px;
}

.search-bar {
  width: 100%;
}

.fa-magnifying-glass {
  font-size: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 10px;
  color: #F28E19;


}

input::placeholder {
  color: #DFDFDF;
}

.btn-search {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;

}


.modal-content h1 {
  color: #000000;
  font-family: Manrope;
  font-size: 25px;
  font-weight: 900;
}


.btn-patate {
  padding: 35px 30px;
  text-decoration: none;
  color: $light;
  display: block;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  text-align: center;
  &:hover {
    color: $light;
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("btn.png");
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:last-child::before {
    transform: rotate(180deg);
  }
}

.index-container {
    height: 140dvh;
    background-image: url("bg-pastel.png");
    background-size: cover;
    background-position: center;
    z-index: -100;
}


@keyframes rotating {
from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
.rotating {
 animation: rotating 2s linear infinite;
}


.btn-patate-forme {
  padding: 35px 30px;
  text-decoration: none;
  color: $light;
  display: block;
  font-weight: bold;
  font-size: 20px;

  text-align: center;
  width: 100%;
  height: 100%;

  background-image: url("patate-fonce.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;



  &:hover {
    color: $light;
  }

  border: none;
  background-color: transparent
}


.add-photo-btn {
  border: none;
}

.form-search {
  width: 100%;
  border-radius: 30%;
}

.form-control {
  border-radius: 30%;
}

.like {
  color: #F28E19;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  text-decoration: none;

}

.like:hover {
  color: rgb(197, 197, 197);
}

.recipe-gpt-infos {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 179px;
  position: relative;
}

.modal-footer{
  border: none;
}

.modal-header {
  border: none;
}

.pic-form {
  background-color: rgba(251, 221, 186, 0.95);
  border-radius: 16px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 25px;
  font-family: 'Manrope';
  font-weight: 900;
}


.fa-heart {
  color: #F28E19;

}

.fa-heart:hover {
  color: rgb(197, 197, 197);
}
