// Import page-specific CSS files here.
@import "home";

.title-frigo {
  color: #000;
  font-family: Manrope;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  align-items: start;
  padding-left: 5px;
  display: flex;
}

.titre-carrotte-frigo {
  display: flex;

}

.header-titre-subtitre {
  width: 100%;
  margin-left: 55px;
}

// .main_btn {
//   height: 120px;
//   width: 340px;
//   border-radius: 30px;
//   background-color: #F28E1966;
//   border: none;
//   color: #000;
//   font-family: Manrope;
//   font-size: 20px;
//   font-style: normal;
//   font-weight: 800;
//   align-items: center;
// }


.petite-carrote{
  width: 28px;
  height: 30px;
}

.button-create-recipe{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_btn {
  text-decoration: none;
  background-color: #F28E19;
  color: #ffffff;
  padding: 10px;
  border-top-right-radius: 40px;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 90px;
  width: 280px; /* Ajustez la largeur souhaitée */
  display: inline-block; /* Pour permettre le réglage de la largeur */
  text-align: center; /* Pour centrer le texte horizontalement */
  box-sizing: border-box; /* Inclure le padding dans la largeur totale */
  margin: 0 5px;
  height: 75px;
  border: none;
  font-size: 20px;
  font-weight: bold;
}

.button-create-recipe2 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .image-plat {
//   width: 100px;
//   height: 100px;
//   overflow: hidden;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-left: 15px;
//   margin-right: 15px;
// }

// .plat-image {
//   width: 100%; /* Pour occuper la largeur totale du conteneur */
//   height: auto; /* Pour maintenir le rapport hauteur/largeur et éviter la distorsion */
//   display: block;
// }

// #number-quantity {
//   padding-bottom: 0;
//   margin-left: 5px;
//   margin-right: 5px;
//   margin-bottom: 5px;
// }


.modal-content {
  background-color: #FBDDBA;
  border-radius: 10px;
  border: solid #F28E19;
}


.modal-title h1 {
  color: #000;
  font-family: Manrope;
  font-size: 15px;
  font-style: bold;
  font-weight: 100;

}


.filter-content {
  color: #000;
  font-family: Manrope;
  font-size: 15px;

}

.qty_button {

  display: flex;
  justify-content: space-around;

  // margin-top: -5px;
}

.title_button {
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  font-family: Manrope;
  border-radius: 25px;
  border: none;
  margin-bottom: 10px;
}

.instruction {
  width: 342px;
  font-size: 25px;
}

.boutons-rajouter-generer {
  display: flex;
  justify-content: space-between;

}

.boutons-frigo1 {

  // border-radius: 30px;
  // background-color: #F28E19;
  // border: none;
  // color: white;
  // font-family: Manrope;
  // font-size: 20px;
  // font-style: normal;
  // font-weight: 800;
  // align-items: center;
  // text-decoration: none;
  // text-align: center;
  // width: 50%;

  flex-shrink: 0;
  background-color: rgba(251, 221, 186, 0.95);
  font-family: Manrope;
  margin-top: 20px;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-top-right-radius: 40px;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 90px;
  // width: 280px; /* Ajustez la largeur souhaitée */
  display: inline-block; /* Pour permettre le réglage de la largeur */
  text-align: center; /* Pour centrer le texte horizontalement */
  box-sizing: border-box; /* Inclure le padding dans la largeur totale */
  margin: 0 5px;
  height: 75px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  width: 50%;




}

.button-create-recipe {
  // text-decoration: none;
  // color: white;
  // border-radius: 30px;
  // background-color: #F28E19;
  // border: none;
  // font-family: Manrope;
  // font-size: 20px;
  // font-style: normal;
  // font-weight: 800;
  // align-items: center;
  // text-align: center;
  // width: 50%;

  flex-shrink: 0;
  background-color: rgba(251, 221, 186, 0.95);
  font-family: Manrope;
  margin-top: 20px;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-top-right-radius: 40px;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 90px;
  // width: 280px; /* Ajustez la largeur souhaitée */
  display: inline-block; /* Pour permettre le réglage de la largeur */
  text-align: center; /* Pour centrer le texte horizontalement */
  box-sizing: border-box; /* Inclure le padding dans la largeur totale */
  margin: 0 5px;
  height: 75px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  width: 50%;
}

#boutons-frigo2 {
  text-decoration: none;
  color: black;
}

.fa-heart {
  color: rgb(167, 167, 167);
  text-decoration: none;
  font-size: 22px;
  justify-content: space-between;
}

.fa-heart:active {
  color: red;
  transition: color 1s ease-out;
}

.search-bar-group {
  width: 339px;
  display: flex;
  justify-content: center;
}

.form {
font-family: Manrope;
text-decoration: none;
color: black;
}

#query {
  border: 4px solid rgba(251, 221, 186, 0.95);
  border-radius: 8px;
}

.search-bar {
  width: 100%;
}

.fa-magnifying-glass {
  font-size: 25px;
  margin-top: 8px;
  margin-left: 10px;
  color: #DFDFDF;

}

input::placeholder {
  color: #DFDFDF;
}

.btn-search {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;

}
