.etoile {
  width: 20px;
}

.fa-solid {
  margin-right: 5px;
}

.recipe-link {
  font-family: Manrope;
  font-size: 20px;
}

.fa-trash-can {
  color: black;
  font-size: 22px;

}

.poubelle {
  margin-top: 14px;
  margin-right: 14px;
}
