.image-recipe {
  width: 20px;
}

.card-details-recette {
  background-color: white;
  margin-bottom: 150px;
  // border-top-right-radius: 30px;
  // border-top-left-radius: 30px;
  // position: fixed;
  // bottom: 0;
  // height: 75%;
  // width: -webkit-fill-available;
  // padding: 10px;

}

.header-recipe-show {
  background-color : #F28E19;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  // position: fixed;
  height: 208px;
  width: 100%;

}


#titre-details-recette-id {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.sub-titre-details-recette {
  color: white;
  background-color: #F28E19;
  border-radius: 50px;
  padding: 4px;
  text-align: center;
  width: 45%;
  font-size: 25px;
}

.button-recipe-done {
  flex-shrink: 0;
  background-color: #F28E19;;
  font-family: Manrope;
  margin-top: 20px;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-top-right-radius: 40px;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 90px;
  // width: 280px; /* Ajustez la largeur souhaitée */
  display: inline-block; /* Pour permettre le réglage de la largeur */
  text-align: center; /* Pour centrer le texte horizontalement */
  box-sizing: border-box; /* Inclure le padding dans la largeur totale */
  margin: 0 5px;
  height: 75px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  width: 50%;
}

.div-recipe-done {
  width: 100%;
  display: flex; /* Utilisez un modèle de boîte flexible pour centrer le contenu */
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: center;
  font-size: 15px;
}

.image-recipe{
  width:150px;
  border-radius: 30px;
}

.bloc-quick-infos {
  display: flex;
  justify-content: space-between;

}

.quick-infos {
  // width: 35%;
}

.preparation-card, .cuisson-card, .difficulte-card {
  background-color: #FBDDBA;
  border-radius: 30px;
  text-align: center;
  font-weight: bold;
  width: 146px;
  padding: 10px;
  height: 70px;

}

.image-recette {
  border-radius: 50px;
  width: 150px;
}

.sub-titre-details-recette, .liste-ingredients, .instructions {
  font-size: 18px;
}

.liste-ingredients {
  list-style-type: none;
}

ul {
  list-style-type: none;
}
