.etoile {
  width: 20px;
}

.fa-solid {
  margin-right: 5px;
}

.recipe-link {
  font-family: Manrope;
  font-size: 20px;
}

.fa-trash-can {
  color: #F28E19;
  font-size: 22px;
  text-decoration: none;
}

.fa-trash-can:active {
  color: red;
  // transition: color 2s ease-out;
}

.poubelle {
  margin-top: 14px;
  margin-right: 14px;
}

.main-container {
  font-family: Manrope;
  min-height: fit-content;
}

.instruction {
  font-size: 20px;
  font-weight: 800;
}

.destroy {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  text-decoration: none;
  transition: color 5s ease-out;
}

.destroy:active {
  color: rgb(197, 197, 197);
}
