<div class="header">
</div>

<div class="content">
</div>

<div class="footer">
  <div class="icons-footer">
    <%#= cl_image_tag("cvkfyt9dwokovu1karo2") %>
    <%= image_tag "refrigerateur.png", alt: "Le Wagon", width: 40 %>
    <%= image_tag "open-book.png", alt: "Le Wagon", width: 40 %>
    <%= image_tag "rabbit.png", alt: "Le Wagon", width: 40 %>
  </div>
</div>
