

<div class="bg-content pt-4" data-controller="recipes">

  <div class="header-titre-subtitre">
    <div class = "titre-carrotte-frigo">
      <%= image_tag("carrot-logo.png", class: "petite-carrote") %>
      <h1 class="title-frigo">IDÉES DE RECETTES</h1>
    </div>

    <div class="instruction">
      <p class="m-0 mb-3"> Voici quelques idées de recettes...</p>
    </div>
  </div>


  <div class="container">
    <div class="row" data-recipes-target="content">
    </div>
  </div>
</div>
