<% ingredients.each do |ingredient| %>
  <div class="my-5">
    <h3><%= ingredient["name"] %></h3>
    <%= link_to "+", add_ingredients_path, data: { turbo_method: :post, action: "click->results#add", results_ingredient_name_param: ingredient["name"] } %>
  </div>
<% end %>
