<h1>FRIGO</h1>
<ul>
  <% @ingredients.each do |ingredient| %>
    <li><%= ingredient.name %> - <%= ingredient.quantity %> quantités - <%= ingredient.purchase_date %> </li>
  <% end %>
</ul>

<%= render partial: 'filter_recipes_form', locals: { ingredients: @ingredients, recipes: @recipes } %>
