<div class="bg-content pt-4" data-controller="results">
  <div class="header-titre-subtitre">
    <div class="ingredients-generated-title">
      <%= image_tag("carrot-logo.png", class: "petite-carrote") %>
      <h1 class="title-frigo">INGRÉDIENTS GÉNÉRÉS</h1>
    </div>

    <div class="instruction">
      <p class="text-center m-0"> Sélectionnez vos ingrédients !</p>
    </div>


    <div id="results-container">
      <%# spinner --------------- %>
  </div>

<%# fin spinner ------------------ %>
 <button class="btn-patate-forme" id="validate-fridge-button">Valider mon frigo</button>    </div>
  </div>
</div>
