<div class="main-container mt-4" data-controller="results">
  <div class="header-titre-subtitre">
    <div class="ingredients-generated-title">
      <%= image_tag("logo.png", class: "petite-carrote") %>
      <h1 class="title-frigo">INGRÉDIENTS GÉNÉRÉS</h1>
    </div>

    <div class="instruction">
      <p class="m-0"> Ajoutez vos quantités !</p>
    </div>

    <div>
    </div>

    <div id="results-container"></div>
    <button class="btn-patate-forme" id="validate-fridge-button">Valider mon frigo</button>
  </div>
</div>
