<div class="bg-content pt-4" data-controller="results">
  <div class="header-titre-subtitre">
    <div class="ingredients-generated-title">
      <%= image_tag("carrot-logo.png", class: "petite-carrote") %>
      <h1 class="title-frigo">INGRÉDIENTS GÉNÉRÉS</h1>
    </div>

  </div>


    <div id="results-container">
  <%# spinner ici ----------- %>

      <div class="loader-overlay-ingredients mt-5" data-loader-target="loader">
        <div class="overlay" onclick="showSpinner()">
        </div>

        <div class="message content hidden">
          <h1 class="p-5 text-center loader-text"> On analyse votre frigo ...
          </h1>
            <div class="logo mt-5">
              <div class="rotating" style="width: 100px; height: 100px; line-height: 100px; text-align: center;">
              <%= image_tag("reverse-krot.png", class: "image-logo") %>
              </div>
            </div>
        </div>
      </div>

  <%# Fin spinner ------------ %>
    <%# <button class="btn-patate-forme" id="validate-fridge-button">Valider mon frigo</button>  %>
    </div>

 </div>
