<%# DASHBOARD %>

<div class="dashboard-container">
    <div class="fixed-bottom">
      <%= link_to "Générer une recette", ingredients_path, class:"btn-patate"%>

      <%= link_to "Ajouter un produit", new_ingredient_path, class:"btn-patate"%>

 </div>
</div>
