<%# DASHBOARD %>

<div class="dashboard-container">
    <div class="fixed-bottom">
      <%= link_to "Générer une recette", ingredients_path, class:"btn-patate"%>

      <%= link_to "Scaner mon frigo", add_an_image_ingredients_path, class:"btn-patate"%>

 </div>
</div>
