<style>
body {
  background-color: #F28E19;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}
</style>

<div class="row">
<div class="col aligne-items ">
<button class="btn-log">S'inscrire</button>
<button class="btn-log">Me connecter</button>
</div>
</div>

