
<%# DEBUT STYLE--------------------------------------------- %>

<%# <style>
body {
  min-height: 100vh;
  background-color: #F28E19;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url('home.png');
  background-size: cover; /* Ajuster la taille pour couvrir toute la zone */
  background-position: center; /* Centrer l'image horizontalement et verticalement */
  background-repeat: no-repeat;

}
</style> %>
<%# FIN STYLE--------------------------------------------- %>
<div class="bg-home">

  <div class="session">
    <% unless user_signed_in? %>
      <div class="fixed-bottom">

        <%= link_to "S'inscrire",  new_user_registration_path, class:"btn-patate" %>

        <%= link_to "Me connecter",  user_session_path, class:"btn-patate" %>

      </div>
    <% end %>


    <% if user_signed_in? %>
      <div class="fixed-bottom">
        <%= link_to "Menu",  dashboard_path, class:"btn-patate" %>
      </div>
        <%= link_to 'Se déconnecter', destroy_user_session_path, data: {turbo_method: :delete}, class: "btn-log-out" %>
    <% end %>
  </div>


</div>
