.footer {
  background-color: $orange;
  height: 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  justify-content: space-between;
}

.icons-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-left: 55px;
  margin-right: 55px;
  padding-top: 7px;
}

.icons-footer img {
  width: 20px; /* Ou la largeur souhaitée */
  height: auto; /* Pour maintenir le rapport hauteur/largeur */
}

.text-footer {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.icontext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-footer {
  align-items: center;
  justify-content: center;
}
