.headbar {
  // display: flex;
  // justify-content: center;
  // align-items: end;
  width: 391.985px;
  height: 70px;
  flex-shrink: 0;
  background-color: #F28E19;
  border-radius: 0px 0px 43px 43px;
  position: fixed;
  top: 0;
  width: 100%;
}
