// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "recipe_card";
@import "btn";

.delete_button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

// .fa-trash-can {
//   color: black;
//   font-size: 22px;
// }

.poubelle {
  margin-top: 14px;
  margin-right: 14px;
  color: #F28E19;
  font-size: 22px;
  
}
