.form-title {
  color: #000;
  font-family: Manrope;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}


.ingredient-form {
  background-color: rgba(251, 221, 186, 0.95);
  padding: 25px;
  border-radius: 16px;
  align-items: center;
  height: 480px;
  width: fit-content;


}

.name-label {
  color: #000;
  margin: 0;
  text-align: left;
  font-family: Manrope;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

input::placeholder {
  color: #DFDFDF;
}
.ingredient-name {
  border: none;
  display: flex;
  margin-top: 10px;
  width: 291px;
  height: 75px;
  border-radius: 16px;
  flex-shrink: 0;
  background-color: #FFF8F0;
  text-align: center;
  font-family: Manrope;
  font-weight: 800;
  word-wrap: break-word;
  font-size: 25px;
}

.quantity-label {
  color: #000;
  margin: 0;
  padding-top: 30px;
  text-align: left;
  font-family: Manrope;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.quantity-controls {
  display: flex;
  margin-top: 10px;
  width: 75px;
  height: 75px;
}

.quantity-decrement-increment {
  width: 75px;
  height: 75px;
  border-radius: 50px;
  flex-shrink: 0;
  // background-color: #FFF8F0;
  text-align: center;
  font-family: Manrope;
  font-weight: bold;
  word-wrap: break-word;
  font-size: 47px;

}


.quantity-controls button {
  background-color: #FFF8F0;
  border: none;
  // padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.ingredient-quantity {
  border: none;
  display: flex;
  width: 75px;
  height: 75px;
  border-radius: 16px;
  flex-shrink: 0;
  background-color: #FFF8F0;
  text-align: center;
  font-family: Manrope;
}

.quantity-increment {
  width: 75px;
  height: 75px;
  border-radius: 50px;
  flex-shrink: 0;
  // background-color: #FFF8F0;
  text-align: center;
  font-family: Manrope;
  font-weight: bold;
  word-wrap: break-word;
  font-size: 47px;

}

.quantity-increment img {
  margin-top: 12px;
  margin-left: 8px;
}

.date-label {
  color: #000;
  margin: 0;
  padding-top: 30px;
  text-align: left;
  font-family: Manrope;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

}

.date-controls {
  display: flex;
}

.ingredient-date {
  border: none;
  margin-top: 10px;
  width: 288px;
  height: 75px;
  border-radius: 16px;
  flex-shrink: 0;
  background-color: #FFF8F0;
  color: #DFDFDF;
  text-align: center;
  font-family: Manrope;
  font-weight: 800;
  word-wrap: break-word;
  font-size: 25px;
  padding: 23px;
}

.submit-button {
  flex-shrink: 0;
  background-color: #FFF8F0;
  font-family: Manrope;
  margin-top: 20px;
  text-decoration: none;
  color: white;
  border-top-right-radius: 40px;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 90px;
  width: 305px; /* Ajustez la largeur souhaitée */
  display: inline-block; /* Pour permettre le réglage de la largeur */
  text-align: center; /* Pour centrer le texte horizontalement */
  box-sizing: border-box; /* Inclure le padding dans la largeur totale */
  margin: 0 5px;
  height: 75px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.add-btn {
  margin-top: 30px;
}

.loader-overlay {
  background-color: white;
  top: 0px;
  position: absolute;
  z-index: 1500;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-content: space-between; */
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.submit-button button {
  text-decoration: none;
  border: none;
  background-color: white;
}


// width: 75px;
// height: 75px;
// border-radius: 50px;
// flex-shrink: 0;
// // background-color: #FFF8F0;
// text-align: center;
// font-family: Manrope;
// font-weight: bold;
// word-wrap: break-word;
// font-size: 47px;

