.card_design {
  display: flex;
  width: 339px;
  height: 115px;
  flex-shrink: 0;
  border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #FBDDBA;

}


.container {
  position: relative;
  width: 100%;
}


.ingredient_card {
  position: absolute;
  width: 150px;
  border: 1px solid #ccc; /* à enlever */
  height: 200px;
  border-radius: 16px;
 background-color : #FBDDBA;
}

.ingredient_card .ingredient_pic {
  position: absolute;
  width: 123px;
  height: 100px;
}

.ingredient_pic {
  background-color: white; /* Insérer image */
  top: 18px;
  left: 14px;
  border-radius: 8px;
}

.ingredient_name {
  color: #000;
  text-align: right;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  position: absolute;
  top: 122px;
  left: 14px;
  width: 123px;
}

.ingredient_description {
  color: #000;
  text-align: right;
  font-family: Manrope;
  font-size: 10px;
  font-style: light;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 140px;
  left: 14px;
  width: 123px;
}

.btn-delete {
background-color: white;
background-image: url('../../../assets/images/icons/poubelle.png');
background-size: cover; /* Ajuste la taille de l'image à celle du bouton */
background-position: center;
width: 25px;
height: 25px;
flex-shrink: 0;
border-radius: 25px;
top: 7px;
left: 118px;
padding: 0%;
border: none;
}

.ingredient_pic, .btn-delete {
  position: absolute;
}

.btn-plus {
	background-color: white;
	width: 25px;
	height: 25px;
	flex-shrink: 0;
	border-radius: 25px;
	bottom: 8px;
	right: 20px;
  border: none;
}

.ingredient_card, .btn-plus {
	position: absolute;
}

.btn-minus {
	background-color: white;
	width: 25px;
	height: 25px;
	flex-shrink: 0;
	border-radius: 25px;
	bottom: 8px;
	left: 20px;
  border: none;
}

.ingredient_card, .btn-minus {
	position: absolute;
}

.quantity {
  color: #000;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
	position: absolute;
	// top: 167px;
	// right: 69px;
}

.ingredient_card, .btn-minus {
	position: absolute;
}

.image-plat {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
}

.plat-image {
  width: 100%; /* Pour occuper la largeur totale du conteneur */
  // height: auto; /* Pour maintenir le rapport hauteur/largeur et éviter la distorsion */
  // display: block;
}


.plus_button {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  padding: 0%;
  border: none;
  font-family: Manrope;
  background-color: white;
  // margin-top: -5px;
}

.ingredient-infos h2 {
  font-weight: bold;

}

.ingredient-infos h3 {
  font-size: 18px;
}

.ingredient-infos {
  padding-top: 12px;
  padding-bottom: 12px;

}

#number-quantity {
  margin-left: 7px;
  margin-right: 7px;

}

// HTML

// <div class="container">
//   <div class="ingredient_card">
//     <div class="ingredient_pic"></div>
//     <button class="btn-delete">s</button>
//    <p class="ingredient_name"> Pizza </p>
//    <p class="ingredient_description"> X jours de vie </p>
//    <button class="btn-plus"> + </button> <p class="quantity"> 1 </p><button class="btn-minus"> - </button>
//   </div>
// </div>
