.form-title {
  color: #000;
  margin-left: 30px;
  padding-top: 150px;
  font-family: Manrope;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}


.ingredient-form {
  background-color: rgba(251, 221, 186, 0.95);
  display: inline-flex;
  margin-left: 38px;
  margin-top: 20px;
  padding-left: 25px;
  width: 339px;
  height: 439px;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 16px;
}

.name-label {
  color: #000;
  padding-top: 30px;
  margin: 0;
  text-align: left;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.ingredient-name {
  border: none;
  display: flex;
  margin-top: 10px;
  padding-top: 30px;
  width: 291px;
  height: 75px;
  border-radius: 16px;
  flex-shrink: 0;
  background-color: #FFF8F0;
  text-align: center;
  font-family: Manrope;
  font-weight: 800;
  word-wrap: break-word;
}

.quantity-label {
  color: #000;
  margin: 0;
  padding-top: 30px;
  text-align: left;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.quantity-controls {
  display: flex;
  margin-top: 10px;
  width: 75px;
  height: 75px;
}

.quantity-decrement {
  border: none;
  display: flex;
  padding-top: 30px;
  width: 75px;
  height: 75px;
  border-radius: 16px;
  flex-shrink: 0;
  background-color: #FFF8F0;
  text-align: center;
  font-family: Manrope;
  font-weight: 800;
  word-wrap: break-word;
}

.quantity-decrement img {
  margin-top: 12px;
  margin-left: 8px;
}

.quantity-controls button {
  background-color: #FFF8F0;
  display: flex;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.ingredient-quantity {
  border: none;
  display: flex;
  padding-top: 30px;
  width: 75px;
  height: 75px;
  border-radius: 16px;
  flex-shrink: 0;
  background-color: #FFF8F0;
  text-align: center;
  font-family: Manrope;
}

.quantity-increment {
  border: none;
  display: flex;
  padding-top: 30px;
  width: 75px;
  height: 75px;
  border-radius: 16px;
  flex-shrink: 0;
  background-color: #FFF8F0;
  text-align: center;
  font-family: Manrope;
  font-weight: 800;
  word-wrap: break-word;
}

.quantity-increment img {
  margin-top: 12px;
  margin-left: 8px;
}

.date-label {
  color: #000;
  margin: 0;
  padding-top: 30px;
  text-align: left;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.date-controls {
  display: flex;
}

.ingredient-date {
  border: none;
  margin-top: 10px;
  padding-top: 30px;
  padding-right: 30px;
  margin-left: 10px;
  width: 175px;
  height: 75px;
  border-radius: 16px;
  flex-shrink: 0;
  background-color: #FFF8F0;
  color: #DFDFDF;
  text-align: center;
  font-family: Manrope;
  font-weight: 800;
  word-wrap: break-word;
}

.submit-button {
  border: none;
  margin-top: 50px;
  padding-top: 30px;
  width: 339px;
  height: 75px;
  border-radius: 16px;
  flex-shrink: 0;
  background-color: rgba(251, 221, 186, 0.95);
  font-family: Manrope;
  font-weight: 800;
  word-wrap: break-word;
}
