.little-btn {
  height: 25px;
  width: 100px;
  border-radius: 30px;
  background-color: #FBDDBA;
  border: none;
  color: white;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  align-items: center;
}
