.main-btn {
  height: 120px;
  width: 340px;
  border-radius: 30px;
  background-color: #CCF279;
  border: none;
  color: #000;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  align-items: center;
}
