.card_design {
  display: flex;
  width: 339px;
  height: 104px;
  flex-shrink: 0;
  border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}

.img_layout {
  width: 86px;
  height: 86px;
  flex-shrink: 0;
  border-radius: 8px;
}

.title_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plus_button {
  width: 24px; /* Adjust the width and height of the button as needed */
  height: 24px;
  /* Add styles for positioning the button */
  margin-top: -5px; /* Adjust the margin to align with the title */
}

.title_layout {

  font-size: 20px;
  margin-bottom: 8px;
}

.time_difficulty_layout {
  display: flex;
  justify-content: space-between; /* Creates space between time and difficulty */
  align-items: center; /* Aligns time and difficulty vertically */
}

.time_layout,
.difficulty_layout {
  font-size: 12px;
  color: #555; /* Changed color for better readability */
}
